.disabled_a {
    pointer-events: none;   
  }


  .myform {
    padding-bottom: 30px;
  }
  .myform .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
  }
  .myform .info-box i {
    font-size: 32px;
    color: #68A4C4;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #a2cce3;
  }
  .myform .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
  }
  .myform .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .myform .forma{
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    margin-bottom: 30px;
  }
  .myform .forma.error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .myform .forma.error-message br + br {
    margin-top: 25px;
  }
  .myform .forma.sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .myform .forma.loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .myform .forma.loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .myform .forma input, .myform .forma textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .myform .forma input::focus, .myform .forma textarea::focus {
    background-color: #68A4C4;
  }
  .myform .forma input {
    padding: 10px 15px;
  }
  .myform .forma select {
    padding: 10px 15px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .myform .forma textarea {
    padding: 12px 15px;
  }
  .myform .forma button[type=submit] {
    background: #68A4C4;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  .myform .forma button[type=submit]:hover {
    background: #8dbad2;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .myform .forma input[type=submit] {
    background: #68A4C4;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  .myform .forma input[type=submit]:hover {
    background: #8dbad2;
  }
